nav {
    background-color: rgb(255, 255, 255);
    display: flex;

    border-radius: 50px;
    align-items: center; 
    justify-content: center; 
}

.tags-item {
    color: #5456db;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.tags-item:hover{
    border-radius: 25px;
    color: #000000;
    background:inherit;
    background-color: rgb(171, 191, 255);
    text-decoration: none;
    transition: background-color 0.25s ease-in-out;
}

#ps{
    width: 150px;
}

#id_card{
    width: 90%;
    margin-left: 5%;
    border-radius: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), /* 底部的主阴影 */
                0px 6px 6px rgba(0, 0, 0, 0.1);   /* 边缘的浅阴影 */
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.plan_icon{
    border:#6178fa;
}

table{ background-color: #ffffff; }

.head_tb{
    width:"100%";
    padding: 2.5%;
}

#head_shot{
    border-radius: 20px;
}

#head_{
    border-radius: 20px;
}

#card_hr{
    border: none;
    height: 1px;
    background-color: rgb(183, 190, 255);
    margin: 20px 0;
}

.myword{
    color: rgb(96, 160, 244);
}

#publication {
    display: flex; 
    justify-content: space-between; 
}
.pub_left {
    flex: 1;
    text-align: left;
}
.pub_right {
    flex: 1; 
    text-align: right; 
}


/* paper item */
.paper_table{
    width: 100%;
}

.paper_td{
    width: 40%;
    padding-left: 3%;
}

.paper_img{
    /* border-radius: 20px; */
    height: 250px; 
    object-fit: cover;
}

.paper_des{
    padding-left: 5%;
}


/* project item */
#project_table{
    width: 100%;
}

.pro_title{
    background-color: #a7a7a7;
    padding: 0.8%;
    border-radius: 10px;
}

.project_des{
    padding-left: 5%;
    padding-right: 5%;
}
@media (min-width: 601px) and (max-width: 1000px) {
    .project_des {
        padding-left: 3%;
        padding-right: 3%;
    }
}
@media (max-width: 600px) {
    .project_des {
        padding-left: 1%;
        padding-right: 1%;
    }
}


.project_td{
    width: 40%; 
}



/* experience */
.exp{
    width: 100%;
}

.exp_left{
    width: 40%;
    padding-left: 5%;
}

.exp_right{
    width: auto;
}


.centered-link {
    text-align: center; 
}

.centered-link a {
    color: black; 
    text-decoration: none;
}

